body{
	background: #fff;
}
#mainContainer {
	max-width: 1280px;
	max-height: 720px;
	margin: 20px auto;
}

#mainContainer canvas {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	position: relative;
	float: left;
	border: 1px #000 solid;
	cursor: none;
}

#fullscreenBtn{
	position: relative;
	max-width: 1280px;
	max-height: 720px;
	margin: auto;
	cursor: pointer;
	margin-bottom: 35px;
	font-family: sans-serif;
}
